@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply bg-slate-950 text-gray-100 antialiased;
  }
}
